In [1]:
import numpy as np
import pandas as pd
'''
more detial see pandas document
https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html

'''


#pandas Series data
data1 = pd.Series(np.random.randint(-10,10,100))

# change index
listA = np.arange(100,200)
data1.index = listA

# printing set
pd.set_option('display.max_rows',5)  
pd.set_option('display.max_columns',15)
pd.set_option('precision',3)
              
print(data1)

100   -5
101    8
      ..
198   -2
199   -9
Length: 100, dtype: int32

In [2]:
#====show data====

data2 =  pd.DataFrame(np.random.random(100).reshape(10,10), columns=[chr(i) for i in range(97,107)])

'''
also see
data2.
      head()
      tail()
      describe()
      shape()
      index()
      columns()
      T   # trandpose data
'''

print(data2.head(5))

#==== sorting data====
#data2.sort_index(axis=0, ascending=True)  # axis = 0 (row direction), axis= 1 (column direction)
#data2 = data2.sort_values(by='c',ascending=True)  # need to assign back to data
print(data2.head(5))

       a      b      c      d      e      f      g      h      i      j
0  0.280  0.435  0.136  0.892  0.248  0.548  0.951  0.628  0.874  0.426
1  0.993  0.426  0.842  0.830  0.503  0.999  0.811  0.358  0.275  0.241
2  0.513  0.165  0.395  0.779  0.286  0.782  0.441  0.620  0.784  0.066
3  0.520  0.513  0.638  0.207  0.304  0.870  0.794  0.657  0.688  0.164
4  0.443  0.069  0.338  0.094  0.896  0.921  0.771  0.876  0.470  0.623
       a      b      c      d      e      f      g      h      i      j
0  0.280  0.435  0.136  0.892  0.248  0.548  0.951  0.628  0.874  0.426
1  0.993  0.426  0.842  0.830  0.503  0.999  0.811  0.358  0.275  0.241
2  0.513  0.165  0.395  0.779  0.286  0.782  0.441  0.620  0.784  0.066
3  0.520  0.513  0.638  0.207  0.304  0.870  0.794  0.657  0.688  0.164
4  0.443  0.069  0.338  0.094  0.896  0.921  0.771  0.876  0.470  0.623

In [3]:
# getting data
data2['a']
data2.a
data2[0:3] # for [] selected, only for slice the row


# use loc to choice by label
data2.loc[0:2, 'a':'c']

# use iloc to choice by label 'position'
data2.iloc[0:2,0:2]  # == data2.loc[0:2, 'a':'c']

#use ix, which is like iloc and loc

# boolean select data
data2[data2.a > 0.5]

       a      b      c      d      e      f      g      h      i      j
1  0.993  0.426  0.842  0.830  0.503  0.999  0.811  0.358  0.275  0.241
2  0.513  0.165  0.395  0.779  0.286  0.782  0.441  0.620  0.784  0.066
3  0.520  0.513  0.638  0.207  0.304  0.870  0.794  0.657  0.688  0.164
6  0.956  0.852  0.712  0.228  0.319  0.861  0.115  0.576  0.211  0.334
9  0.926  0.562  0.490  0.236  0.329  0.828  0.212  0.735  0.033  0.868

In [4]:
# setting data
# use loc or iloc to change data
data3 = data2.copy()
print(data3.head(3))

data3.iloc[:,5] = np.nan
data3.loc[1,'b'] = 0.5555555
print(data3.head(3))

data3['k'] = np.nan
print(data3.head(3))

# handle na
print(data3.dropna(axis=1,how='any').head(5))
print(data3.fillna(0).head(5))
print(data3.isna())

       a      b      c      d      e      f      g      h      i      j
0  0.280  0.435  0.136  0.892  0.248  0.548  0.951  0.628  0.874  0.426
1  0.993  0.426  0.842  0.830  0.503  0.999  0.811  0.358  0.275  0.241
2  0.513  0.165  0.395  0.779  0.286  0.782  0.441  0.620  0.784  0.066
       a      b      c      d      e   f      g      h      i      j
0  0.280  0.435  0.136  0.892  0.248 NaN  0.951  0.628  0.874  0.426
1  0.993  0.556  0.842  0.830  0.503 NaN  0.811  0.358  0.275  0.241
2  0.513  0.165  0.395  0.779  0.286 NaN  0.441  0.620  0.784  0.066
       a      b      c      d      e   f      g      h      i      j   k
0  0.280  0.435  0.136  0.892  0.248 NaN  0.951  0.628  0.874  0.426 NaN
1  0.993  0.556  0.842  0.830  0.503 NaN  0.811  0.358  0.275  0.241 NaN
2  0.513  0.165  0.395  0.779  0.286 NaN  0.441  0.620  0.784  0.066 NaN
       a      b      c      d      e      g      h      i      j
0  0.280  0.435  0.136  0.892  0.248  0.951  0.628  0.874  0.426
1  0.993  0.556  0.842  0.830  0.503  0.811  0.358  0.275  0.241
2  0.513  0.165  0.395  0.779  0.286  0.441  0.620  0.784  0.066
3  0.520  0.513  0.638  0.207  0.304  0.794  0.657  0.688  0.164
4  0.443  0.069  0.338  0.094  0.896  0.771  0.876  0.470  0.623
       a      b      c      d      e    f      g      h      i      j    k
0  0.280  0.435  0.136  0.892  0.248  0.0  0.951  0.628  0.874  0.426  0.0
1  0.993  0.556  0.842  0.830  0.503  0.0  0.811  0.358  0.275  0.241  0.0
2  0.513  0.165  0.395  0.779  0.286  0.0  0.441  0.620  0.784  0.066  0.0
3  0.520  0.513  0.638  0.207  0.304  0.0  0.794  0.657  0.688  0.164  0.0
4  0.443  0.069  0.338  0.094  0.896  0.0  0.771  0.876  0.470  0.623  0.0
        a      b      c      d      e     f      g      h      i      j     k
0   False  False  False  False  False  True  False  False  False  False  True
1   False  False  False  False  False  True  False  False  False  False  True
..    ...    ...    ...    ...    ...   ...    ...    ...    ...    ...   ...
8   False  False  False  False  False  True  False  False  False  False  True
9   False  False  False  False  False  True  False  False  False  False  True

[10 rows x 11 columns]

In [5]:
# apply function

data2.apply(np.mean,axis=1)

data2.apply(lambda x : x.max()-x.min())

a    0.951
b    0.783
     ...
i    0.841
j    0.849
Length: 10, dtype: float64

In [6]:
#merge data  --concat
piece = [data2.loc[0:1,'a':'c'], data2.loc[4:5,'d':'e'],data2.loc[8:9,'a':'e']]
pd.concat(piece,sort=False)

        a      b      c      d      e
0   0.280  0.435  0.136    NaN    NaN
1   0.993  0.426  0.842    NaN    NaN
..    ...    ...    ...    ...    ...
8   0.042  0.459  0.769  0.633  0.816
9   0.926  0.562  0.490  0.236  0.329

[6 rows x 5 columns]

In [7]:
#merge data -- merge/join
# more detial, please see
# https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html#merging-join

ld = pd.DataFrame({'key':['a','b'],'l_values':[1,2]})
rd = pd.DataFrame({'key':['a','b'],'r_values':[3,4]})

pd.merge(ld,rd, on = 'key')

  key  l_values  r_values
0   a         1         3
1   b         2         4

In [8]:
#appaned data

data4= pd.DataFrame(np.random.randint(-5,5,(3,3)))
print(data4)

data4.append(data4.loc[1,], ignore_index=True)

   0  1  2
0  4  0  1
1  0  3  1
2 -5 -4 -4

   0  1  2
0  4  0  1
1  0  3  1
2 -5 -4 -4
3  0  3  1